extends layout

block content
    .container
        .jumbotron
            h1 About Us
            p Maecenas vel felis justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque tincidunt tincidunt enim, sit amet dictum dui aliquet id. Nunc tempus aliquam imperdiet. Morbi sit amet consequat metus. Praesent quis risus leo. Nulla interdum vulputate ligula, non tincidunt felis vehicula vitae. Nulla condimentum velit eget egestas porta. In hac habitasse platea dictumst. Vestibulum aliquam enim sed eros cursus, id tincidunt nisi fringilla. Ut rutrum tincidunt vulputate. Mauris at elit condimentum, feugiat sem id, tempor lorem. Sed malesuada dui vel risus rhoncus, dictum finibus lacus semper. Praesent maximus, nisl vel iaculis ornare, lorem magna congue leo, iaculis sollicitudin magna felis a velit. Nullam vitae libero fringilla, lacinia ligula vitae, tincidunt dui.
            a.btn.btn-primary(href="/register") Get Started