extends layout

block content
    .pcontainer
        .left
            img(src='img/user.png')
            p Welcome, #{lastName}
        .right
            h4 Instractors Cooperation
            hr
            p Instructors Cooperation is a non profitabl organization which aim to spread values to teachers througth forums. Competent teachers will have to show their ability (their values) througth their posts of any area that they found themselve competent. Then via voting a teacher will benefit from minor donation from readers and volunteer
            p I, Mr Athanas Shauritanga I am warm welcome you and especially you Mr. #{firstName} #{lastName} to dedicate yourself to give out the best of your career, this will not only make you earn some money from the campany but also upgrade your status to the world of competition. 
            p After the launch of the cooperation you will be able to post contents and view throgth material link above. By the way If you are a science teacher it is my advice that you join the science community in tanzania. Click <a href="http://www.stat.or.tz">here<a> to join.