extends layout

block content
  .container
    .row
      .col-xs-12.col-md-8
        form(method='POST' action='/register')
          div.form-group
            label(for="firstName") First Name
            input.form-control#firstName(name="firstName" type="text" placeholder="First Name")
          div.form-group
            label(for="lastName") Last Name
            input.form-control#lastName(name="lastName" type="text" placeholder="First Name")
          div.form-group
            label(for="email") Email
            input.form-control#email(name="email" type="email" placeholder="Email")
          div.form-group
            label(for="password") Password
            input.form-control#password(name="password" type="password" placeholder="Your Password")
          div.form-group
              label(for="confirm") Confirm Password
              input.form-control#confirm(name="confirm" type="password" placeholder="Confirm Password")
          button.btn.btn-primary(type="submit") Submit
