* {
    box-sizing: border-box;
}
.error{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error img {
    width: 100px;
    margin-bottom: 1.5em;

}
.container, .pcontainer{
    height: 150vh;
}
.pcontainer .left{
    border-right: 1px solid #ccc;
}
.pcontainer{
    margin: 1em 1em 2em;
    display: flex;
}
.left, .right {
    padding: 1.5em;
}
.left img{
    width: 150px;
    margin-bottom: 1em;
}
.left > p{
    font-weight: bold;
}
.right p{
    padding: .3em;
    background-color: teal;
    color: azure;
}
hr {
    height: 2px;;
}
.footer{
    margin-top: .5em;
    background-color: #ccc;
    padding-top: 1.5em;
    height: 3em;
}